@use "../../styles/global.scss" as *;
@use "../../styles/_variables.scss" as *;
@use "../../styles/_mixins.scss" as *;

.homepage__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  gap: 1.75rem;
  @include tablet {
    flex-direction: row;
    justify-content: center;
  }
  &-header {
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 1.8rem;
    color: $primarycolor1;
    @include tablet {
      font-size: 3rem;
    }
  }
  &-container {
    background-color: $primarycolor3;
  }
}
.homepage__hero__card {
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.5s ease-in-out;
  overflow: hidden;
  width: 14rem;
  height: 22.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
  position: relative;
  font-weight: bold;
  display: flex;
  justify-content: center;
  &:hover {
    animation: pulsate 1.5s infinite;
    border: 3px solid $secondarycolor1;
  }
  @include tablet {
    width: 15rem;
  }
  @include desktop {
    width: 20rem;
  }
  &--movies {
    background-image: url(../../assets/images/frame_00_delay-0.07s.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:hover {
      background-image: url(../../assets/images/moviecamera.gif);
    }
  }
  &--games {
    //background-image: url(../../assets/images/games2.jpg);
    background-image: url(../../assets/images/gamespicture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:hover {
      //background-image: url(../../assets/images/backupgif.gif);
      background-image: url(../../assets/images/differntanglegame.gif);
    }
  }
  &--books {
    background-image: url(../../assets/images/books.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:hover {
      background-image: url(../../assets/images/giphybooks.gif);
    }
  }
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-header {
    color: $primarycolor1;
  }

  h2 {
    font-size: 2em;
  }
  @keyframes pulsate {
    0% {
      border-color: $secondarycolor1;
    }
    50% {
      border-color: $primarycolor4;
    }
    100% {
      border-color: $secondarycolor1;
    }
  }
}
.homepage__local {
  padding: 1rem;
  border-top: 3px solid #f5d23f;
  background-color: $secondarycolor3;
  &-header {
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 1.8rem;
    color: #ffffff;
  }
  &__search {
    padding: 0rem 13%;
    background-image: url("../../assets/Icons/search.svg");
    background-repeat: no-repeat;
    background-position-x: 4%;
    background-position-y: 50%;
    border: 1px solid $secondarycolor1;
    border-radius: 5px;
    background-color: $primarycolor1;
    height: 1.2rem;
  }
  &__image-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4%;
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    gap: 1rem;
    color: $primarycolor1;
  }
  &__text {
  }
  &__text-header {
  }
}
