$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$primarycolor1: #fdfdfd;
$primarycolor2: #000000;
$primarycolor3: #5f0807;
$primarycolor4: #41424c;
$secondarycolor1: #860d0c;
$secondarycolor2: #a37132;
$secondarycolor3: #7a5959;
