@use "../../styles/global.scss" as *;
@use "../../styles/_variables.scss" as *;
@use "../../styles/_mixins.scss" as *;

.movieresult {
  background-color: $primarycolor3;
  &__movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
  }
  &__header {
    color: $primarycolor1;
    font-size: 2rem;
  }
  &__image {
    width: 70vw;
    @include tablet {
      width: 65vw;
    }
    @include desktop {
      width: 35vw;
    }
  }
  &__text {
    color: $primarycolor1;
  }
}
